<div class="container">
  <div class="contents">
    <div class="project">
      <div class="project__images">
        <img
          src="{{ article.src }}"
          width="740px"
          height="440px"
          alt="プロジェクト"
        />
      </div>
      <div class="project__header">
        <h1 class="title">{{ article.title }}</h1>
      </div>
      <div class="project__detail">
        <h2 class="point">獲得ポイント:{{ article.point }}P</h2>
        <h2 class="length">チャレンジ期間：{{ article.length }}</h2>
      </div>

      <div class="project__share">
        <ng-container *ngIf="user$ | async as user; else loginArea">
        </ng-container>
        <ng-template #loginArea>
          <button (click)="openDialog()" class="login">
            ログイン
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
