.item {
  display: flex;
  justify-content: center;
  &__title {
    color: white;
    font-size: 48px;
    h3,
    p {
      color: white;
    }
  }
  &__image {
    margin-right: 24px;
    padding: 7px;
    border: 1px solid #ccc;
    background: #fff;
  }
}
.container {
  background-color: rgb(29, 23, 23);
  margin: 24px 0px;
}
