.container {
  margin: 64px 140px;
}
.mypage {
  display: flex;
}
.title {
  margin-left: 72px;
}
.user-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-top: 24px;
}
.user-items {
  text-align: center;
  margin: 0 auto;
}
.mypage-card {
  width: 320px;
  height: 320px;
}
.user-name {
  margin: 24px 16px;
}
.user-points {
  background: #fff9f2;
  padding: 8px 32px;
  border-radius: 30%;
  font-size: 18px;
  color: #fdc453;
  margin: 32px 0;
}
.contents-images {
  display: flex;
  justify-content: space-around;
  margin: 48px 32px;
  font-size: 20px;
}
.user-coupon,
.user-heart,
.user-bitbucket {
  margin: 0 40px;
}
.contents {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}
