<div class="container">
  <h2 class="heading"><mat-icon>new_releases</mat-icon>To-Beの新着</h2>

  <swiper [config]="config" [(index)]="selectedProjectId">
    <div class="grid" *ngFor="let project of projects; index as i">
      <div class="item-image">
        <a href="#"
          ><img
            src="/assets/images/project-{{ i + 4 }}.jpeg"
            alt="プロジェクト"
            width="310px"
            height="370px"
          />
        </a>
      </div>
      <div class="item-title">
        <a href="http://"
          ><h3>{{ project.title }}</h3></a
        >
        <a href="http://"
          ><p>{{ project.explain }}</p></a
        >
        <a href="http://"
          ><p>{{ project.people }}</p></a
        >
      </div>
    </div>
  </swiper>
</div>
