.heading {
  margin-left: 80px;
  margin-bottom: 16px;
  mat-icon {
    margin-right: 8px;
    font-size: 24px;
  }
}
.grid {
  display: grid;
}
.item-title {
  text-decoration: none;
  a {
    color: black;
  }
}
