<div class="container">
  <h2 class="heading"><mat-icon>fiber_new</mat-icon>To-Beの新着</h2>

  <swiper [config]="config" [(index)]="selectedProjectId">
    <div class="grid" *ngFor="let project of projects">
      <div class="item-image">
        <a href="#"
          ><img
            src="/assets/images/project-{{ project.id }}.jpeg"
            alt="プロジェクト"
            width="310px"
            height="370px"
          />
        </a>
      </div>
      <div class="item-title">
        <h3>{{ project.title }}</h3>

        <button class="button-detail" [routerLink]="['/details', project.id]">
          詳細画面
        </button>
      </div>
    </div>
  </swiper>
</div>
