.heading {
  margin-left: 56px;
  margin-bottom: 8px;
  position: relative;
  mat-icon {
    margin-right: 8px;
    font-size: 40px;
    position: absolute;
    left: -32px;
  }
}
.grid {
  display: grid;
}
.item-title {
  text-decoration: none;
  a {
    color: black;
  }
}
.item-image {
  padding: 16px;
}
