<header>
  <div class="header-left">
    <p class="header-logo">To-Be</p>
    <form class="form" action="">
      <input
        class="form-text"
        type="search"
        placeholder="何にチャレンジしたいですか？"
      />
      <input class="button" type="submit" value="検索" />
    </form>
  </div>
  <div class="login">
    <ng-container *ngIf="user$ | async as user; else loginArea">
      <button mat-icon-button class="notify">
        <mat-icon>notifications</mat-icon>
      </button>
      <button
        class="user-image"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [style.background-image]="'url(' + user.avatarURL + ')'"
      ></button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>login</mat-icon>
          <span>ログアウト</span>
        </button>
        <button mat-menu-item (click)="linkProfile()">
          <mat-icon>account_box</mat-icon>
          <span>マイページ</span>
        </button>
        <button mat-menu-item>
          <mat-icon>help</mat-icon>
          <span>ヘルプ</span>
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #loginArea>
      <button (click)="openDialog()" class="login-button">
        ログイン
      </button>
    </ng-template>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="footer-main">
    <div class="footer-left">
      <h3 class="logo">To-Be</h3>
    </div>
    <div class="footer-right">
      <h3 class="sub-title">メニュー</h3>
      <ul class="sub-menu">
        <li><a href="">トップ</a></li>
        <li><a href="">新着プロジェクトから探す</a></li>
        <li><a href="">お薦めプロジェクトから探す</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <h3 class="sub-title">To-Beについて</h3>
      <ul class="sub-menu">
        <li><a href="">運営会社</a></li>
        <li><a href="">利用規約</a></li>
        <li><a href="" routerLink="/policy">プライバシーポリシー</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <h3 class="sub-title">To-Beのサービス</h3>
      <ul class="sub-menu">
        <li><a href="">よくある質問</a></li>
      </ul>
    </div>
  </div>
  <div class="icon">
    <a href="http://" class="facebook"><span class="fab fa-facebook"></span></a>
    <a href="http://" class="twitter"><span class="fab fa-twitter"></span></a>
    <a href="http://" class="line"><span class="fab fa-line"></span></a>
  </div>
  <div class="copy">
    <p class="copy-item">Copyright© Ash, Inc. All Rights Reserved.</p>
  </div>
</footer>
