header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  border-bottom: rgb(224, 218, 218) 1px;
  box-shadow: 1px 1px 5px;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: bold;
}
.header-left {
  display: flex;
}
.header-logo {
  font-size: 24px;
}
.header-right {
  margin: 28px;
}
.header-right a {
  margin-right: 24px;
  text-decoration: none;
  font-size: 16px;
  color: black;
}
form {
  margin: 24px 72px;
}
.form-text {
  width: 240px;
  height: 32px;
  font-weight: bold;
  color: black;
  background: #fff;
  border: solid 1px black;
  border-radius: 10px;
}
.button {
  margin-left: 16px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: red;
  border: solid 1px red;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.button:hover {
  border: solid 1px red;
  box-shadow: none;
  text-shadow: none;
}
footer {
  border-top: black 1px solid;
  box-shadow: 1px 1px 7px;
}
.footer-main {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.logo {
  font-size: 24px;
}
.footer-left {
  margin-right: 160px;
}
.sub-title {
  font-size: 13px;
  margin-left: 36px;
}
.sub-menu {
  font-size: 13px;
  a {
    color: black;
  }
  li {
    margin-top: 16px;
  }
}
.icon {
  padding-top: 40px;
  text-align: center;
  font-size: 16px;
}
.fab {
  padding-left: 16px;
}
.fa-blue:before {
  color: #1ea1f2;
}
.fa-red:before {
  color: #7940ca;
}
.fa-green:before {
  color: rgb(59, 235, 59);
}
.copy {
  margin-top: 60px;
  color: rgb(184, 174, 174);
  text-align: center;
  padding-bottom: 8px;
}
