.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: black 1px solid;
}
.nav {
  &__item {
    padding-left: 32px;
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: inline-block;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #432;
  color: white;
  margin-top: 500px;
  padding: 16px;
  p {
    padding: 8px;
  }
}
