<header>
  <div class="header-left">
    <p class="header-logo">To-Be</p>
    <form class="form" action="">
      <input
        class="form-text"
        type="search"
        placeholder="何にチャレンジしたいですか？"
      />
      <input class="button" type="submit" value="検索" />
    </form>
  </div>
  <div *ngIf="user$ | async as user; else loginBlock" class="login">
    <p>{{ user.name }}でログイン中</p>
    <button (click)="login()">ログアウト</button>
  </div>
  <ng-template #loginBlock>
    <button (click)="login()">ログイン</button>
  </ng-template>
</header>
<router-outlet></router-outlet>
