/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.heading {
  font-family: UberMoveText-Medium, sans-serif;
  font-size: 26px;
  padding-left: 16px;
}
footer {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.container {
  padding: 56px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
