<div class="container1">
  <h2>ログイン</h2>
  <div class="login">
    <div class="login__items">
      <button class="login-facebook" (click)="facebookLogin()">
        <span class="fab fa-facebook"></span>
        Facebookで開始
      </button>
      <button class="login-twitter" (click)="twitterLogin()">
        <span class="fab fa-twitter"></span>
        Twitterで開始
      </button>
      <button class="login-google" (click)="googleLogin()">
        <span class="fab fa-google"></span>
        Googleで開始
      </button>
    </div>
  </div>
</div>
